<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="courseMapper">

	<sql id="courseColumn">
	   user_id,user_pwd,user_name,user_phone,user_email,user_photo
	</sql>
	
	<!-- 1:1의 관계 매핑하기 -->
	<resultMap type="courseDTO" id="CourseDetailAssociationMap">
		<id column="course_code" property="courseCode"/>
		<result column="user_id" property="userId"/>
		<result column="course_title" property="courseTitle"/>
		<result column="course_top_group" property="courseTopGroup"/>
		<result column="course_sub_group" property="courseSubGroup"/>
		<result column="course_detail" property="courseDetail"/>
		<result column="course_level" property="courseLevel"/>
		<result column="course_recruit_max" property="courseRecruitMax"/>
		<result column="course_recruit_current" property="courseRecruitCurrent"/>
		<result column="course_recruit_period" property="courseRecruitPerid"/>
		<result column="course_start_date" property="courseStartDate"/>
		<result column="course_end_date" property="courseEndDate"/>
		<result column="course_frequency" property="courseFrequency"/>
		<result column="course_start_time" property="courseStartTime"/>
		<result column="course_end_time" property="courseEndTime"/>
		<result column="course_loc" property="courseLoc"/>
		<result column="course_price" property="coursePrice"/>
		<result column="course_url" property="courseUrl"/>
		<result column="course_backpic" property="courseBackpic"/>
		<association property="mentoDTO" javaType="mentoDTO">
			<id column="user_id" property="userId"/>
			<result column="mento_desc" property="mentoDesc"/>
		</association>	
	</resultMap>
	
	<!-- 1:1 관계 (하나의 게시물은 단 한명의 작성자만 존재한다)
		게시물(commentb)의 정보와 게시물을 등록한 작성자(users) 정보를 한번에 검색
	-->
	<select id="courseDetailAssociation" resultMap="CourseDetailAssociationMap">
		select course_code, c.user_id,course_title,course_top_group,course_sub_group,course_detail,course_level,
		course_recruit_max,course_recruit_current,course_recruit_period,course_start_date,course_end_date,
		course_frequency,course_start_time,course_end_time,course_loc,course_price,course_url,course_backpic,m.mento_desc
		from course c join mento m 
		on c.user_id = m.user_id
		where course_code=#{_parameter}	
	</select>
	
	<!-- 찜하기 -->
	<select id="courseFav" resultType="string">
		select course_code from course_fav where user_id=#{_parameter}
	</select>
   
</mapper> 